
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1463382870'); /* IE9*/
  src: url('iconfont.eot?t=1463382870#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1463382870') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1463382870') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1463382870#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shipin:before { content: "\f0162"; }
.icon-ipguishudi:before { content: "\e7c0"; }
.icon-biezhen:before { content: "\e652"; }
.icon-xuanzhuan:before { content: "\f001d"; }
.icon-dingwei:before { content: "\e61b"; }
.icon-dingwei1:before { content: "\e69e"; }
.icon-location:before { content: "\e651"; }
.icon-locationfill:before { content: "\e650"; }
.icon-favor:before { content: "\e64c"; }
.icon-favorfill:before { content: "\e64b"; }
.icon-selection:before { content: "\e6ce"; }
.icon-edit:before { content: "\e649"; }
.icon-squarecheck:before { content: "\e6d6"; }
.icon-round:before { content: "\e6d7"; }
.icon-square:before { content: "\e6d5"; }
.icon-squarecheckfill:before { content: "\e6d4"; }
.icon-roundaddfill:before { content: "\e6d8"; }
.icon-roundadd:before { content: "\e6d9"; }
.icon-link:before { content: "\e6bf"; }
.icon-activity:before { content: "\e6c5"; }
.icon-qrcode:before { content: "\e6b0"; }
.icon-refresh:before { content: "\e6a4"; }
.icon-pulldown:before { content: "\e69f"; }
.icon-pullup:before { content: "\e6a0"; }
.icon-pic:before { content: "\e69b"; }
.icon-filter:before { content: "\e69c"; }
.icon-top:before { content: "\e69e"; }
.icon-moreandroid:before { content: "\e6a5"; }
.icon-right:before { content: "\e6a3"; }
.icon-back:before { content: "\e679"; }
.icon-discover:before { content: "\e67e"; }
.icon-more:before { content: "\e684"; }
.icon-list:before { content: "\e682"; }
.icon-questionfill:before { content: "\e690"; }
.icon-question:before { content: "\e691"; }
.icon-settings:before { content: "\e68a"; }
.icon-scan:before { content: "\e689"; }
.icon-form:before { content: "\e699"; }
.icon-evaluate:before { content: "\e672"; }
.icon-pay:before { content: "\e673"; }
.icon-ticket:before { content: "\e677"; }
.icon-noticefill:before { content: "\e709"; }
.icon-notice:before { content: "\e70a"; }
.icon-copy:before { content: "\e706"; }
.icon-wifi:before { content: "\e6f2"; }
.icon-recordfill:before { content: "\e7a4"; }
.icon-record:before { content: "\e7a6"; }
.icon-recordlight:before { content: "\e7a5"; }
.icon-videofill:before { content: "\e792"; }
.icon-video:before { content: "\e793"; }
.icon-text:before { content: "\e791"; }
.icon-focus:before { content: "\e725"; }
.icon-cameraaddfill:before { content: "\e727"; }
.icon-apps:before { content: "\e729"; }
.icon-picfill:before { content: "\e72c"; }
.icon-album:before { content: "\e734"; }
.icon-repair:before { content: "\e738"; }
.icon-repairfill:before { content: "\e73a"; }
.icon-radiobox:before { content: "\e75b"; }
.icon-infofill:before { content: "\e6e4"; }
.icon-info:before { content: "\e6e5"; }
.icon-sound:before { content: "\e77b"; }
.icon-selectionfill:before { content: "\e6e1"; }
.icon-fold:before { content: "\e6de"; }
.icon-keyboard:before { content: "\e71b"; }
.icon-roundcheck:before { content: "\e657"; }
.icon-roundclosefill:before { content: "\e658"; }
.icon-roundclose:before { content: "\e659"; }
.icon-time:before { content: "\e65f"; }
.icon-timefill:before { content: "\e65e"; }
.icon-likefill:before { content: "\e668"; }
.icon-like:before { content: "\e669"; }
